/output/
/corpus/
/.idea/
/examples/
/nlu_sim/
/open_source_projects/
/pretrained_model
/simbert
/sentence_transformers
/run_script_tf_v1
/nltk
/parlai
/hanlp
/pyhanlp
/plugins
/pymilvus
/deepctr
/deepmatch
/tensorflow_recommenders
/hulearn
/gensim
/spacy
/supar
/jina
/transformers
/visualization
/CLUE
